@import url("https://use.typekit.net/tvi4tep.css");

html, body {
  margin: 0;
  padding: 0;
  font-family: chinchilla, sans-serif;
  font-style: normal;
  font-weight: 400;
}

canvas {
  display: block;
  align-content: center;
  position:absolute;
  margin: auto;
  margin-top: 1%;
}

h1 {
  position: absolute;
  top: 85%;
  left: 75%;
}