@import url("https://use.typekit.net/tvi4tep.css");

html, body {
  background-color: #0E2B4A;
  margin: 0;
  padding: 0;
  font-family: chinchilla, sans-serif;
  font-style: normal;
  font-weight: 400;
}

canvas {
  display: block;
  margin: auto;
  margin-top: 4%;
}

h1 {
  position: absolute;
  font-size: 28px;
  top: 92%;
  right: 15%;
  text-align: right;

  color: white;
}

h2 {
  position: absolute;
  font-size: 28px;
  top: 92%;
  left: 15%;
  text-align: left;

  color: white;
}

#butterfly {
  align-content: center;
  position: absolute;
  top: 30%;
  left: 15%;
  width: 70%;
  animation-name: float; 
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  from {
      top: 10%; 
  }

  to {
      top: 16%; 
  }
}
